#images {
    text-align: center;
    margin: 25px auto;
}

#images a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

#images:hover {
    opacity: 0.8;
}

.responsive {
    width: 100%;
    height: auto;
}