/* Grid */

.grid-container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header"
        "post"
        "sidebar1"
        "sidebar2"
        "section"
        "next1"
        "next2"
        "next3"
        "next4"
        "footer";
}


/* Flexbox */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-item {
    width: 30%;
}


/* Responsive */

@media (min-width: 901px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header header header"
            "post post post sidebar1"
            "post post post sidebar2"
            "post post post sidebar2"
            "section section section section"
            "next1 next2 next3 next4"
            "footer footer footer footer";
        grid-column-gap: 100px;
    }
}

@media (min-width: 801px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header"
            "post post sidebar1"
            "post post sidebar2"
            "section section section"
            "next1 next2 next3"
            "footer footer footer";
        grid-column-gap: 75px;
    }
}

@media (min-width: 701px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header"
            "post sidebar1"
            "post sidebar2"
            "section section"
            "next1 next2"
            "next3 next4"
            "footer footer";
        grid-column-gap: 50px;
    }
}