body {
    background-color: #f8f9fa;
    font-family: source-serif-pro,
        'Source Serif Pro',
        'Lyon Display Web',
        'LyonDisplay-Medium',
        serif;
    margin: 0 100px;
}

h1 {
    color: #000;
    font-size: 100px;
}

h2 {
    color: #000;
    font-size: 50px;
}

h3 {
    color: #fff;
    font-size: 40px;
}

h4 {
    color: #007bff;
    font-size: 35px;
}

h5 {
    color: #fff;
    font-size: 25px;
}

h6 {
    color: #000;
    font-size: 20px;
}

p {
    color: #fff;
    font-size: 15px;
}


/* Flex */

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.flex-item-left,
.flex-item-center,
.flex-item-right {
    flex: 25%;
}


/* Topbar */

.topbar {
    overflow: hidden;
    background-color: #000;
    border-radius: 0 15px 50px 10px;
}

.topbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar a:hover {
    background-color: #007bff;
    color: #fff;
}


/* Content */

.content {
    background-color: #ddd;
    border-radius: 100px 250px 50px 20px;
    margin-top: 25px;
    padding: 25px;
}

.row {
    margin-bottom: 25px;
    padding: 10px;
}

.avatar {
    vertical-align: middle;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 25px;
}


/* Footer */

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    border-radius: 200px 100px 200px 0;
    padding: 40px;
    background-color: #000;
    color: #fff;
    text-align: center;
}


/* Images */

#images {
    text-align: center;
    margin: 25px auto;
}

#images a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

#images:hover {
    opacity: 0.8;
}

.card {
    background-color: #f8f9fa;
    border: 5px;
    border-radius: 25px;
    padding: 25px;
    margin-top: 100px;
}


/* Social media */

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: #fff;
}

.fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.fa-instagram {
    background: #f40083;
    color: #fff;
}


/* Responsive layout - makes a one column layout instead of a three-column layout */
@media (max-width: 800px) {

    .flex-item-left,
    .flex-item-center,
    .flex-item-right {
        flex: 100%;
    }
}