body {
    background-color: #f8f9fa;
    font-family: source-serif-pro,
        'Source Serif Pro',
        'Lyon Display Web',
        'LyonDisplay-Medium',
        serif;
}

h1 {
    color: #000;
    font-size: 100px;
}

h2 {
    color: #000;
    font-size: 50px;
}

h3 {
    color: #fff;
    font-size: 40px;
}

h4 {
    color: #007bff;
    font-size: 35px;
}

h5 {
    color: #fff;
    font-size: 25px;
}

h6 {
    color: #000;
    font-size: 20px;
}

p {
    color: #fff;
    font-size: 15px;
}

.card {
    background-color: #f8f9fa;
    border: 5px;
    border-radius: 25px;
    padding: 25px;
    margin-top: 20px;
}